* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 500px;
  height: 500px;
  display: block;
  padding-bottom: 50px;
}

.btn {
  width: 150px;
  height: 50px;
  background: transparent;
  font-style: 18px;
  border-radius: 12px;
}
